<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--<add name="cnnString" connectionString="Data Source=ETROLLEY_BACKUP\ETROLLEY;Min Pool Size=0;Max Pool Size=10024;Pooling=true;Initial Catalog=eTrolley;User ID=sa;Password=Emac2019" providerName="System.Data.SqlClient" />-->   
    <add name="cnnString" connectionString="Data Source=ETROLLEY\ETROLLEY;Min Pool Size=0;Max Pool Size=10024;Pooling=true;Initial Catalog=eTrolley;User ID=sa;Password=Emac2019" providerName="System.Data.SqlClient" /> 
  
  </connectionStrings>
  <appSettings>      
    <add key="IpPLC" value="192.168.1.25"/>
    <add key="PortPLC" value="102" />
    <add key="RackPLC" value="0" />
    <add key="SlotPLC" value="0" />
    <add key="NumDb" value="1" />    
  </appSettings>
</configuration>
